@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Oswald';
  src: url('/fonts/Oswald/static/Oswald-Regular.ttf');
  font-weight: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  padding: 0 !important;
  overflow: visible !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald';
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.main {
  min-height: calc(100vh - 151px);
  height: 100%;
}

.anime {
  background: linear-gradient(90deg, #0f172a 50%, #fafafa 50%);
  transition: all 0.4s;
  background-size: 200%;
}

.anime:hover {
  background-position: -100%;
  color: #fafafa;
}

.scroll-bar::-webkit-scrollbar {
  width: 10px;
}

.scroll-bar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.scroll-bar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
